name: Construir EXE de Family Bicons

on:
  push:
    branches: [ "main", "master" ]  # Se activa cuando haces un cambio

jobs:
  build:
    runs-on: windows-latest  # Usamos una máquina virtual con Windows

    steps:
    - uses: actions/checkout@v3

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 

    - name: Instalar Dependencias
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller psycopg2-binary

    - name: Crear Ejecutable (Build)
      # Aquí ejecutamos el comando mágico. Asegúrate que tu archivo se llame 'main.py'
      # Si tu archivo tiene otro nombre, cámbialo abajo donde dice 'main.py'
      run: |
        pyinstaller --noconsole --onefile --name="FamilyBicons" main.py

    - name: Subir el EXE para descargar
      uses: actions/upload-artifact@v4
      with:
        name: Aplicacion-FamilyBicons
        path: dist/FamilyBicons.exe
